#flylines
{
  width: 88%;
  max-width: 88%;
  margin: 0px;
  position: relative;

  padding: 0px;
}

.flyline_list
{
  width: 96%;
  max-width: 96%;
  margin: 0 auto;
}

.flyline_list #checkbox { max-width: 2%; }
.flyline_list #name { max-width: 15%; }
.flyline_list #owner { max-width: 7% }
.flyline_list #genotype { max-width: 22%; }
.flyline_list #location { max-width: 11%; }
.flyline_list #origin { max-width: 13%; }
.flyline_list #tag { max-width: 9%; }
.flyline_list #note { max-width: 11%; }
.flyline_list #cared { max-width: 10%; }

.flyline_list td#genotype { font-size: 80%; }
.flyline_list td#location { font-size: 80%; }
.flyline_list td#cared { font-size: 80%; }

.flyline_list tr.even
{
  background-color: #C8EEC8#;
}

.flyline_list tr.odd
{
}

.flyline_list tr:hover
{
  background-color: #90EE90;
}

.flyline_list td
{
  padding: 2px 10px;
  border-bottom: 1px dotted #999;
}

.flyline_list th
{
  background-color: #BFBFBF;
  font-weight: bold;
  border-bottom: 1px dotted #999;
  border-right: 1px dotted #999;
  text-align: center;
}

.flyline_list td.name,
.flyline_list td.location
{
  border-right: 1px dotted #999;
}

.flyline_info th
{
  text-align: right;
  font-weight: bold;
  border-right: 8px solid #fff;
}

.flyline_info tr
{
  border-bottom: 1px solid #fff;
}

.flyline_info tr:hover
{
  background-color: #90EE90;
}

.manage_tools a:hover
{
  background-color: #90EE90;
}

.manage_tools a
{
  background-color: #f1f1f1;
  border: 1px outset #e3e3e3;
  text-decoration: none;
  padding: 0px 3px;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

.manage_tools td
{
  padding: 10px 5px;
}


#flyManageForm button
{
  margin: 10px 20px;
}

.flyline_form button
{
  margin: 10px 20px;
  padding: 0px 10px;
}

/* customize checkbox, only works with javascript, IE>8 and other browsers  */
/*
input[type=checkbox]
{
  visibility: hidden;
}

.multi_checkbox
{
  width: 22px;
  height: 22px;
  position: relative;
  background: #ffffff;
  margin: 2px auto;
}

.multi_checkbox label
{
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  border-radius: 4px;
  
  #background: #ffffff;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
}

.multi_checkbox label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 13px;
  height: 7px;
  background: transparent;
  top: 4px;
  left: 3px;
  border: 3px solid #000;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.multi_checkbox label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.multicheckbox input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
*/


.flylines .location
{
  color: #524F46;
  font-weight: bold;
  width: 30%;
}

.flylines .company
{
  color: #d2813f;
  width: 30%;
}

.flylines .position
{
  padding: 0;
  color: #524F46;
  width: 40%;
}

.flylines .position a
{
  padding: 12px 15px;
  display: block;
  text-decoration: none;
}

.flylines .position a:hover
{
  text-decoration: underline;
}

.more_flylines
{
  text-align: right;
  text-transform: uppercase;
  font-size: 85%;
  margin: 5px 15px 15px;
  clear: both;
}

.more_flylines a
{
  color: #176f94;
  text-decoration: none;
  font-weight: bold;
  font-size: 130%;
}

.more_flylines a:hover
{
  color: #176f94;
  text-decoration: underline;
}

.pagination_desc
{
  margin-left: 15px;
  margin-top: 10px;
  font-style: italic;
  color: #828f95;
}

.pagination_desc strong
{
  color: #176f94;
}

.pagination
{
  margin-top: 10px;
  float: right;
  margin-right: 10px;
  color: #176f94;
  font-family: Arial, sans-serif;
  font-size: 110%;
  font-weight: bold;
  padding: 2px;
}

.pagniation nav
{
  margin: 0;
  padding: 0;
  text-align: right;

}

.pagination .disabled
{
    background-color: white;
    cursor: default;
    color: #929292;
    border-color: #929292;
    font-weight: normal !important;
}

.pagination .current
{
  background-color: #2e6ab1;
  color: #FFF !important;
  border-color: #2b66a5;
  font-weight: bold;
  cursor: default;
}

.pagination a, .pagination span
{
    padding: 0 5px;
    border: 1px solid #9aafe5;
    text-decoration: none;
    color: #2e6ab1;
    margin-right: .2em;
}

.pagination a:hover
{
  border: 1px solid #2b66a5;
  color: #000;
  background-color: #90EE90;
}

.pagination img
{
  vertical-align: -2px;
}
