#flylines
{
  width: 88%;
  max-width: 830px;
  margin: 0px;
  position: relative;

  padding: 0px;
}

.flyline_list
{
  width: 820px;
  margin: 0 auto;
  table-layout: fixed;
}

.flyline_list .checkbox { width: 3%; }
.flyline_list .name { width: 15%; }
.flyline_list .owner { width: 8% }
.flyline_list .genotype { width: 22%; }
.flyline_list .location { width: 11%; }
.flyline_list .origin { width: 12%; }
.flyline_list .tag { width: 9%; }
.flyline_list .note { width: 11%; }
.flyline_list .cared { width: 9%; }

.flyline_list td.checkbox { padding: 2px; }
.flyline_list td.genotype { font-size: 80%; }
.flyline_list td.location { font-size: 80%; }
.flyline_list td.cared { font-size: 80%; }

.flyline_list tr.even
{
  background-color: #C8EEC8#;
}

.flyline_list tr.odd
{
}

.flyline_list tr:hover
{
  background-color: #90EE90;
}

.flyline_list td
{
  padding: 2px 10px;
  border-bottom: 1px dotted #999;
  overflow: hidden;
}

.flyline_list td:hover
{
  overflow: visible;
  background-color: #ffff66;
}

.flyline_list td span:hover
{
  overflow: visible;
  background-color: #ffff66;
  opacity: 1;
}

.flyline_list th
{
  background-color: #BFBFBF;
  font-weight: bold;
  border-bottom: 1px dotted #999;
  border-right: 1px dotted #999;
  text-align: center;
}

.flyline_list td.name,
.flyline_list td.location
{
  border-right: 1px dotted #999;
}

.flyline_info, .flyline_form
{
  font-size: 1.25em;
}

.flyline_info th
{
  text-align: right;
  font-weight: bold;
  border-right: 8px solid #fff;
}

.flyline_info tr
{
  border-bottom: 1px solid #fff;
}

.flyline_info tr:hover
{
  background-color: #90EE90;
}

.manage_tools
{
  font-size: 1.5em;
  #font-family: Arial,Tahoma,Verdana;
}

.manage_tools#edit_tools, .manage_tools#list_tools
{
  margin: 0px 0px 20px 0px;
}

.manage_tools a:hover
{
  #background-color: #90EE90;
  border: 1px inset #e3e3e3;
}

.manage_tools a
{
  color: #595959;
  background-color: #f1f1f1;
  border: 1px outset #e3e3e3;
  text-decoration: none;
  padding: 0px 3px;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

.manage_tools td
{
  padding: 10px 5px;
}

#flyManageForm button
{
  margin: 10px 20px;
}

#flyManageForm .checkbox label
{
  width: 50px;
  height: 20px;
}

.flyline_form button
{
  margin: 10px 20px;
  padding: 0px 10px;
}

.delete_button_form
{
  color: #BFBFBF;
  text-align: right;
}

.delete_button_form button
{
  color: #BFBFBF;
}

.pagination_desc
{
  margin-left: 15px;
  margin-top: 10px;
  font-style: italic;
  color: #828f95;
}

.pagination_desc strong
{
  color: #176f94;
}

.pagination
{
  margin-top: 10px;
  float: right;
  margin-right: 10px;
  color: #176f94;
  font-family: Arial, sans-serif;
  font-size: 110%;
  font-weight: bold;
  padding: 2px;
}

.pagniation nav
{
  margin: 0;
  padding: 0;
  text-align: right;

}

.pagination .disabled
{
    background-color: white;
    cursor: default;
    color: #929292;
    border-color: #929292;
    font-weight: normal !important;
}

.pagination .current
{
  background-color: #2e6ab1;
  color: #FFF !important;
  border-color: #2b66a5;
  font-weight: bold;
  cursor: default;
}

.pagination a, .pagination span
{
    padding: 0 5px;
    border: 1px solid #9aafe5;
    text-decoration: none;
    color: #2e6ab1;
    margin-right: .2em;
}

.pagination a:hover
{
  border: 1px solid #2b66a5;
  color: #000;
  background-color: #90EE90;
}

.pagination img
{
  vertical-align: -2px;
}
