{% extends 'FlyFlydbBundle::layout.html.twig' %}

{% block body %}
<div class="flyline_form">
<h1>Flyline creation</h1>

<form id="flyline_form" action="{{ path('flymanage_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<table class="manage_tools">
<tbody>
<tr>
    <td>
        <a href="{{ path('flyline_index') }}">
            Back to Flyline list
        </a>
    </td>
</tr>
</tbody>
</table>

</div>
{% endblock %}
